<div class="form-group row">
    <label class="col-md-3 col-form-label">
        {{ "Tổ chức" | localize }}
    </label>
    <div class="col-md-9">
        <ng-select2 [data]="tochucs" [options]="options" placeholder="--Tất cả--" name="tochuc" id="tochuc" width="100%" [(ngModel)]="orgSelected" (ngModelChange)="Changetochuc()">
        </ng-select2>

    </div>
</div>

<div class="form-group row">
    <label class="col-md-3 col-form-label">
        {{ "Nhắc việc cho" | localize }}
    </label>
    <div class="col-md-9">
        <ng-select2 [data]="users" [options]="options" placeholder="--Chọn người dùng--" name="user" id="user" width="100%" [(ngModel)]="userSelected">
        </ng-select2>
    </div>
</div>