<li class="nav-item dropdown nav-user-menu" dropdown>
    <a href="javascript:;" class="nav-link" dropdownToggle (click)="IsReadedNotify()">
        <i class="fas fa-bullhorn" aria-hidden="true"></i>
        <span class='badge badge-secondary' *ngIf="notifys.isCountReaded>0">{{notifys.isCountReaded}}</span>
    </a>
    <div class="dropdown-menu dropdown-menu-right" *dropdownMenu style="min-width: 500px;">
        <div class="header">
            Thông báo định kỳ
        </div>
        <hr class="br">
        <div *ngIf="notifys.notifys.length==0" class="thongbao">
            Chưa có thông báo!
        </div>
        <div *ngIf="notifys.notifys.length>0" class="contentNotify">
            <ul class="title-notifys">
                <li *ngFor="let item of notifys.notifys; index as i;">
                    {{i+1}}.{{item.tieuDe}} -  {{item.noiDung}}
                </li>
            </ul>
        </div>
    </div>
</li>
<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
    }
.contentNotify{
    padding: 3%;padding-top: 0;
}
    .text {
        color: white;
    }

    .notification {
        background-color: #555;
        color: white;
        text-decoration: none;
        position: relative;
        display: inline-block;
        border-radius: 5px;
        text-align: center;
    }

    .notification:hover {
        background: rgb(131, 128, 128);
    }

    .notification .badge {
        position: absolute;
        top: -10px;
        right: -10px;
        padding: 3px 7px;
        border-radius: 20px;
        background-color: red;
        color: white;
        height: 20px;
        width: 20px;
    }

    .title-notifys {
        list-style: none;
        padding: 0;
    }

    .header {
        height: 16px;
        font-weight: bold; padding: 1%;
        padding-left: 5px;
    }

    .badge {
        position: absolute;
        top: 0;
        right: -5px;
        display: inline-block;
        border-radius: 50%;
        background-color: red;
        width: 20px;
        height: 20px;
    }
    .thongbao{
        padding-left: 6px;
    }
</style>
