<div>
    <h4 class="text-center mb-3">Lấy lại mật khẩu</h4>
    <form autocomplete="off" #forgotForm="ngForm" (ngSubmit)="save()">
        <div class="form-group">
            <div class="input-group">
                <input type="text" class="form-control" id="username" name="username" placeholder="Tên đăng nhập" required
                    maxlength="64" [(ngModel)]="model.userName" #nameModel="ngModel" #nameEl />
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-arrow-left"></span>
                    </div>
                </div>
            </div>
            <abp-validation-summary [control]="nameModel" [controlEl]="nameEl"></abp-validation-summary>
        </div>
        <div class="form-group">
            <div class="input-group">
                <input type="text" class="form-control" id="email" name="email" placeholder="Email" required maxlength="64"
                    [(ngModel)]="model.toEmail" #surnameModel="ngModel" #surnameEl />
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-arrow-left"></span>
                    </div>
                </div>
            </div>
            <abp-validation-summary [control]="surnameModel" [controlEl]="surnameEl"></abp-validation-summary>
        </div>
        <div class="row">
            <div class="col-6">
                <button type="button" class="btn btn-default" [disabled]="saving" [routerLink]="['/account/login']">
                    <i class="fa fa-arrow-circle-left"></i> Quay lại
                </button>
            </div>
            <div class="col-6">
                <button type="submit" class="btn btn-primary btn-block" [disabled]="!forgotForm.form.valid || saving">
                    Lấy lại mật khẩu
                </button>
            </div>
        </div>
    </form>
</div>
