<form class="form-horizontal" autocomplete="off" #createUserModal="ngForm" (ngSubmit)="save()">
    <abp-modal-header [title]="'Thêm mới' | localize" (onCloseClick)="bsModalRef.hide()"></abp-modal-header>
    <div class="modal-body">
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="tieude">
        {{ "Tên sự kiện" | localize }}
      </label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="tensukien" id="tensukien" required [(ngModel)]="sukien.tenSuKien" #tieuDeModel="ngModel" #TieuDeEl />


                <abp-validation-summary [control]="tieuDeModel" [controlEl]="TieuDeEl"></abp-validation-summary>
            </div>
        </div>
    </div>
    <abp-modal-footer [cancelDisabled]="saving" [saveDisabled]="!createUserModal.form.valid || saving" (onCancelClick)="bsModalRef.hide()"></abp-modal-footer>
</form>